{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        {% include 'display-erros.html.twig' %}
        <div class="row">
            <div class="panel col-xs-12">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Novo cardápio
                    </h3>
                </div>
                <div class="panel-body">
                    {% set action = route('menus.store') %}
                    {% set submitIcon = 'forward' %}
                    {% include 'menus/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}