{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel col-xs-12">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Ver ingrediente
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ route('ingredients.edit',{'id': ingredient.id}) }}"
                               class="btn btn-primary notika-btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{{ route('ingredients.delete',{'id': ingredient.id}) }}"
                               class="btn btn-danger notika-btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row">#</th>
                                        <td>{{ ingredient.id }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nome</th>
                                        <td>{{ ingredient.name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}