table thead th:first-child, td:first-child {
    text-align: center;
}
table label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}

table label input[type=checkbox] {
    cursor: pointer;
}

ul.notika-menu-wrap li a {
    padding: 10px 15px;
}

.header-top-area, .footer-copyright-area{
    background-color: #337ab7;
}

.logo-area a{
    color: #FFF;
}

.panel-heading h2 {
    float: left;
}
.panel-heading .menu-right {
    float: right;
}

.panel-footer {
    background-color: #FFF;
}

.menu-it-icon-pro i{
    font-size: inherit;
    top: 0px;
}

ul.notika-menu-wrap li a {
    font-size: inherit;
    padding: 10px 14px;
}

table thead th:first-child, td:first-child{
    text-align: inherit;
}
/**
* Cardapio generator
**/
.head-week-day,
.cell-week-day{
    float: left;
    display: block;
    box-sizing: border-box;
    padding: 5px;
    width: 13.285714%;
    margin-left: 10px;
}

.cell-week-day {
    border: 1px solid #CCC;
    height: 150px;
    margin-bottom: 5px;
}

/**
* Error 404
**/
.error-template {
    text-align: center;
}
