RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
##LANDING-PAGES-AQUI##
RewriteRule ^(?!img|js|css)(.*)$ index.php [NC,L]
