<form method="post" action="{{ action }}">
    <div class="form-group">
        <label class="control-label">Nome</label>
        <input class="form-control" type="text" placeholder="Nome"
               name="name" value="{{ meal.name }}">
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Avançar
        <span class="glyphicon glyphicon-{{ submitIcon }}"></span>
    </button>
</form>
