{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Editar refeição
                    </h3>
                </div>
                <div class="panel-body">
                    {% set action = route('meals.update', {'id': meal.id}) %}
                    {% set submitIcon = 'pencil' %}
                    {% include 'meals/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}