{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Novo tipo de ingrediente
                    </h3>
                </div>
                <div class="panel-body">
                    {% set action = route('ingredient-types.store') %}
                    {% set submitIcon = 'floppy-disk' %}
                    {% include 'ingredient-types/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}